# Variables locales de desarrollo
# Copiar este archivo a .env.local y completar con tus valores

# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyCUZWOMZAT3tad-NjpGxwLgS9X9dVs40QA
VITE_FIREBASE_AUTH_DOMAIN=gestor-palelu-final.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gestor-palelu-final
VITE_FIREBASE_STORAGE_BUCKET=gestor-palelu-final.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=86219323184
VITE_FIREBASE_APP_ID=1:86219323184:web:aa290991d5b7b029963af5
VITE_FIREBASE_MEASUREMENT_ID=G-KDNSY9QN65